<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.student.SCampusMapper">

    <select id="selectAll" resultType="SCampus">
        select * from s_campus
    </select>

    <select id="selectById" resultType="SCampus">
        select * from s_campus where sid = #{id}
    </select>

    <insert id="add" parameterType="SCampus">
        insert into s_campus (sid, saccess, sschoolgate) VALUES (#{sid},#{saccess},#{sschoolgate})
    </insert>

    <update id="update" parameterType="SCampus">
        update s_campus set saccess=#{saccess},sschoolgate=#{sschoolgate} where sid=#{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from s_campus where sid=#{sid}
    </delete>
</mapper>