<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.student.SHealthMapper">

    <select id="selectAll" resultType="SHealth">
        select * from s_health
    </select>

    <select id="selectById" resultType="SHealth">
        select * from s_health where sid = #{id}
    </select>

    <insert id="add" parameterType="SHealth">
        insert into s_health (sid, sname, stemperature, sposition, sstatus) VALUES (#{sid}, #{sname}, #{stemperature}, #{sposition}, #{sstatus})
    </insert>

    <update id="update" parameterType="SHealth">
        update s_health set sname=#{sname},stemperature=#{stemperature},sposition=#{sposition},sstatus=#{sstatus} where sid=#{sid}
    </update>

    <delete id="delete" parameterType="String">
        delete from s_health where sid=#{sid}
    </delete>
</mapper>